<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>


    </tr>


    <tr th:each="user: ${list}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">models</td>
        <td th:text="${user.getLastName()}">series</td>
        <td>
            <form th:action="@{/{id}(id=${user.id})}" th:method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">delet</button>
            </form>
        </td>
5
        <td>
            <form th:action="@{/{id}/edit(id=${user.getId()})}" th:method="GET">
                <button type="submit">update</button>
            </form>
        </td>

    </tr>
</table>
<br>
<input type="button" value="add" onclick="window.location.href = 'addNewUser'">
</body>
</html>